<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="dagger.hilt.android.testing.HiltTestApplication"
        android:debuggable="true">
        <activity
            android:name="com.cursoandroid.queermap.HiltTestActivity"
            android:exported="true"
            android:process="com.cursoandroid.queermap"> </activity>
    </application>
</manifest>