<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoqueer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoqueer"
        android:supportsRtl="true"
        android:theme="@style/Theme.QueerMap"
        tools:targetApi="31">

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AdminActivity"
            android:label="Admin Activity"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.app.ACTION_ADMIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.PlaceActivity"
            android:exported="true"/>

        <activity
            android:name=".activities.CoverActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor"
            android:exported="true"/>

        <activity
            android:name=".activities.SigninActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor"
            android:exported="true"/>
        <activity
            android:name=".activities.ReadTermsActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor"
            android:exported="true"/>
        <activity
            android:name=".activities.MapsActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor"
            android:exported="true"/>

        <!-- Agrega las actividades necesarias para Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Agrega las actividades necesarias para Facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
