<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoqueer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoqueer"
        android:supportsRtl="true"
        android:theme="@style/Theme.QueerMap"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.CoverActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SigninActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>